.education-content {
  top: 100px;
  box-sizing: border-box;
  position: relative;
  background-color:#dadde3;
}


.intro_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Float four columns side by side */
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: auto;
  width: 60%;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  background-color: #e7e4c6;
  color: black;
  padding-bottom: 15px;
  height: 90%;
  margin: auto;
  position: relative;
}

.card p{
    font-style: normal;
    padding-left: 15px;
    padding-right: 15px;
}

.card li{
  font-style: normal;
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row {
    margin: auto;
    width: 90%;
    position: relative;
  }
}