.introduction-content {
    opacity:1;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    position: relative;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.intro_card1{
    width: 50%;
    background-color: #165a75;
    color: white;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    padding: 10px;
    padding-top: 20px;
}

@keyframes example {
    0%   {background-color:#165a75; left:0px; top:0px;color: white;}
    25%  {background-color:#1d323b; left:200px; top:0px;color: white;}
    75%  {background-color:#165a75; left:0px; top:0px;color: white;}
}

.ask-question{
    margin: auto;
    position: relative;
    width: 40%;
    background-color: #1e4050;
    color: rgba(236, 232, 232, 0.87);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 1300px) {
    .intro_card1 {
        width: 60%;
    }
    .ask-question{
      width: 60%;
    }
}


/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 1000px) {
    .intro_card1 {
        width: 60%;
    }
    .ask-question{
      width: 70%;
    }
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .intro_card1 {
        width: 60%;
    }
    .ask-question{
      width: 80%;
    }
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 600px) {
    .intro_card1 {
        width: 70%;
    }
    .ask-question{
      width: 90%;
    }
}
