body {
  margin: 0;
  font-family: 'Roboto';
}
h1, h2{
    margin: 0;
}
p{
  margin: 1;
}

.top-navigation-bar{
	top:0;
  opacity: 1;
  z-index: 9999;
}

ul.top-navigation {
  	list-style-type: none; /* remove the list bullet points*/
  	margin: 0; /*removes the above margin*/
  	padding: 0; /*removing padding from left and right*/
  	overflow: hidden; /*Turned everything noice*/
    background-color: #1c313a /* Background color of the navigation bar*/
}

ul.top-navigation li a {
	float:left;
	display: inline-block; /*makes the list item a block, adds padding above and below*/
	color:white; /*text color - white*/
  text-align: center; /*centrally aligned text*/
  padding: 14px 16px; /*addes padding to left and right of the text*/
  text-decoration: none;/*Removes the underline*/
}

ul.top-navigation li a:hover {background-color: #111;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .navigation-list {
        display: none;
    }
}