.introduction_content{
	position: relative;
}
/* Bottom right text */
.introduction-header {
  position: absolute;
  bottom: 350px;
  left: 200px;
  background-color: Green;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  animation-name: hey;
  animation-duration: 4s;
}

.introduction-header-1{
  position: absolute;
  bottom: 150px;
  left: 200px;
  background-color: #c2655d;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;	
  animation: know-more;
}

.background_image{
	zoom:25%;
}

@keyframes example {
  from {background-color: green;}
  to {background-color: yellow;}
}