body {margin: 0;}

ul.top-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.top-navigation li {float: left;}

ul.top-navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.top-navigation li a:hover:not(.active) {background-color: #111;}

ul.top-navigation li a.active {background-color: #4CAF50;}

ul.topnav li.dropdown {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}