.fa-linkedin {
	background: #007bb5;
  	color: white;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li{
	float:left;
}

li a:hover{
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}