body {margin: 0;}

.top-navigation-bar{
	top:0;
  opacity: 1;
  z-index: 9999;
}

ul.top-navigation {
  	list-style-type: none; /* remove the list bullet points*/
  	margin: 0; /*removes the above margin*/
  	padding: 0; /*removing padding from left and right*/
  	overflow: hidden; /*Turned everything noice*/
  	background-color: #333; /*the dark charcoal color for background*/
}

ul.top-navigation li a {
	float:left;
	display: inline-block; /*makes the list item a block, adds padding above and below*/
	color:white; /*text color - white*/
  text-align: center; /*centrally aligned text*/
  padding: 14px 16px; /*addes padding to left and right of the text*/
  text-decoration: none;/*Removes the underline*/
}

/*Change the link color to black on hover for everything except the active class*/
ul.top-navigation li a:hover:not(.active) {background-color: #111;}

/*Make the "Overview tab active" initially and of color green*/
ul.top-navigation li a.active {background-color: #4CAF50;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}