.drop-down{
  display: block;
}

.dropdown:hover .hamburger-test{
  background-color: green;
}

/*Below: we play with the contents inside the dropdown*/

/* Dropdown content (hidden by default) */
.dropdown-content{
  display: none; /*hides the dropdown content*/
  position: absolute;
  background-color: #1c313a ;  /* charcoal background*/
  min-width: 16px;
  max-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.drop-down:hover .dropdown-content {
  display: block;
}